# node_modules 这个目录包含了通过Node Package Manager(npm)安装所有项目依赖包
# 由于这些依赖包可以根据`package.json` 文件中的声明重新安装，通常不需要将其包包含
# 在版本控制里面。这样可以减少仓库的大小，避免大量的第三方代码上传到git仓库
node_modules

# .DS_Store 这是MacOS系统的一个隐藏文件，用于存储目录的显示属性，它与项目的代码无关
# 隐藏没必要提交到Git仓库中
.DS_Store

# dist 和 dist-ssr 这项目录通常用于存放项目编译或打包输出的文件，因此这些文件是从源代码生成的
# 因此没有必要提交到Git仓库
dist
dist-ssr

#`*.local`: 这个模式匹配所有以`.local`结尾的文件。这些文件通常与开发环境有关，不提交Git仓库是保证
# 不与其他开发人员的配置冲突
*.local

# 这个目录是Yarn包管理工具生成的文件，类似于node_modules。同样，它包含依赖项的信息，并且可以根据package.json文件重新生成，因此也不需要包含在版本控制中。
.yarn